body{
    background-color: lightgray;
}

p, li{
    color: red;
}

.logo{
    border: 3px solid green;
    width: 400px;
}

img.logo{
    height: auto;
}

p.logo{
    color: blue;
}

ul > li{
    color: blue;
}

h1 + p{
    color: yellow;
}

.link_cf:link{
    text-decoration: none;
    color: black;
}

.link_cf:visited{
    background-color: brown;
}

.link_cf:hover{
    background-color: green;
}

.link_cf:focus{
    outline: none;
    background-color: yellow;
}

.link_cf:active{
    background-color: orangered;
}

#auebLogo{
    color: lightskyblue;
}

.border-green-1 {
    border: 1px solid green;
}

.border-green-2 {
    border: 2px solid green;
}

.text-blue {
    color: blue;
}